.about-us-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 20px;
}

.about-us-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
