:root{
    --title-color : black;
}
.home-root{
    display: flex;
    flex-direction: column;
}

@keyframes anim-pop {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }
    20% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.anim-popout{
    animation: anim-pop 2s ease-out;
}

.home-head{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home-head-title-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: start;
    color: var(--title-color);
    margin: 0px 0px 0px 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    flex-basis: 60%;
}

.home-head-title{
    font-size: 80px;
    letter-spacing: 5px;
    line-height: 100px;
    margin: 0px;
}

.home-titles{
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 5px;
    line-height: 100px;
    margin: 0px;
}

.home-head-desc{
    font-size: 20px;
    color: rgb(129, 127, 127);
    margin-top: 5px;
    margin-bottom: 40px;
}

.home-head-button{
    width: 200px;
}
.lottie-anim{
    flex-basis: 40%;
    margin: 0px 20px;
}

.home-text{
    font-size: 22px;
    letter-spacing: 1px;
}

.home-problem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 30px;
    background-color: aliceblue;
}

.problem-title{
    text-align: center;
}

.problem-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.problem-text{
    flex-basis: 30%;
}

.problem-anim{
    flex-basis: 40%;
}

.home-analysis{
    margin: 20px 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home-analysis-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.analysis1-content{
    flex-basis: 50%;
    margin-top: 40px;
}

.analysis1-text{
    margin: 40px 0px;
}
.analysis-anim{
    flex-basis: 50%;
}


.analysis-img{
    width: 500px;
    margin: 30px;
}

.home-root a {
    text-decoration: none;
}